<div class="principal">
  <div class="main">
    <div class="header">
      <div class="nome">
        <p>Guilherme Arantes</p>
      </div>
      <div class="menu">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">Sobre Mim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projetos">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contato</a>
          </li>
        </ul>
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
        <i class="ph ph-list"></i>
        </button>

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasRight"
          aria-labelledby="offcanvasRightLabel"
        >
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Menu</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="nav-canva">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#sobre">Sobre Mim</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projetos">Projetos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contato</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="home" id="home" >
        <div class="home-content" data-aos="fade-right" data-aos-duration="1300">
          <h5>Olá!</h5>
          <h1>Guilherme Arantes</h1>
          <h3>Front-End Developer</h3>
          <p>
            Sou desenvolvedor front-end, possuo experiência em HTML, CSS,
            JavaScript e Angular, estou sempre buscando desafios para aplicar
            minhas habilidades e conhecimentos
          </p>

          <div class="home-social">
            <a
              class="instagram"
              target="_blank"
              href="https://instagram.com/guii_arantes?igshid=MzMyNGUyNmU2YQ=="
              ><img src="../assets/imagens/instagram.png"
            /></a>
            <a
              class="facebook"
              target="_blank"
              href="https://www.facebook.com/guii.arantes/"
              ><img src="../assets/imagens/facebook.png"
            /></a>
            <a
              class="linkedin"
              target="_blank"
              href="https://www.linkedin.com/in/guilhermearantes17"
              ><img src="../assets/imagens/linkedin.png"
            /></a>
            <a
              class="github"
              target="_blank"
              href="https://github.com/guiiarantes1"
              ><img src="../assets/imagens/github.png"
            /></a>
          </div>

          <div class="buttons">
            <a target="_blank" href="https://wa.me//5534984408672?text=Olá!"
              ><button type="button" class="btn btn-primary">
                Contate-me <i class="ph ph-paper-plane-right"></i></button
            ></a>
            <button
              type="submit"
              onclick="window.open('../assets/Curriculo.pdf')"
              class="btn btn-primary"
            >
              Meu Currículo <i class="ph ph-download-simple"></i>
            </button>
          </div>
        </div>
        <div class="home-image" data-aos="flip-right" data-aos-duration="1300">
          <img src="../assets/imagens/eu.jpg" />
        </div>
      </div>
      <div class="sobre" id="sobre" >
        <div class="sobre-img" data-aos="fade-right" data-aos-duration="1300">
          <img src="../assets/imagens/sobre.png" />
        </div>
        <div class="sobre-content" data-aos="fade-left" data-aos-duration="1300"  >
          <h1>Sobre Mim</h1>
          <p>
            Atualmente graduando em Engenharia de Software em Uberlândia-MG.
          </p>
          <p>
            Sou apaixonado por idealizar, conceituar e produzir produtos
            centrados no cliente.
          </p>

          <div class="stacks">
            <img src="../assets/imagens/html-5.png" />
            <img src="../assets/imagens/css-3.png" />
            <img src="../assets/imagens/js.png" />
            <img src="../assets/imagens/angular.png" />
            <img src="../assets/imagens/database.png" />
          </div>
        </div>
      </div>
      <div class="projetos" id="projetos"data-aos-duration="1300" data-aos-anchor-placement="top-center">
        <h3 data-aos="fade-right" >Meus Projetos</h3>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-aos="zoom-in-down" data-aos-duration="1300">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2800">
              <a target="_blank" href="https://kohalafilmes-omega.vercel.app/"
                ><img
                  src="../assets/imagens/kohala.png"
                  class="d-block w-100"
                  alt="..."
              /></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Kohala Filmes & Séries</h5>
                <p>Um site de informações de filmes, séries e atores.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2800">
              <a target="_blank" href="https://infotecelulares.vercel.app/"
                ><img
                  src="../assets/imagens/infotec.png"
                  class="d-block w-100"
                  alt="..."
              /></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Infotec Celulares</h5>
                <p>Uma Landing Page de uma assistência técnica de celulares.</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2800">
              <a target="_blank" href="https://solidy.vercel.app/home"
                ><img
                  src="../assets/imagens/solidy.png"
                  class="d-block w-100"
                  alt="..."
              /></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Solidy Control</h5>
                <p>
                  Uma página web mobile, para controle de pagamentos e vendas de
                  clientes.
                </p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2800">
              <a target="_blank" href="https://kantopokedex.vercel.app/home"
                ><img
                  src="../assets/imagens/pokedex.png"
                  class="d-block w-100"
                  alt="..."
              /></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Kanto Pokedex</h5>
                <p>Um site contendo informações de pokemons.</p>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
          </button>
        </div>
        <span class="legenda">Clique para visualizar o projeto.</span>
      </div>
      <div class="footer" id="footer" data-aos="fade-right" data-aos-duration="1300">
        <h3>Contatos</h3>
        <div class="contatos-content">
          <h5>
            Me chame pra conversar ou apenas dizer oi!
            <span class="emoji">👋</span>
          </h5>
          <h4>Informações</h4>
          <p><i class="ph ph-envelope-simple"></i> guii_arantes@hotmail.com</p>
          <p><i class="ph ph-phone-call"></i> (34) 98440-8672</p>

          <h4 class="redes">Redes Sociais</h4>
          <div class="contatos-social">
            <a
              class="instagram"
              target="_blank"
              href="https://instagram.com/guii_arantes?igshid=MzMyNGUyNmU2YQ=="
              ><img src="../assets/imagens/instagram.png"
            /></a>
            <a
              class="facebook"
              target="_blank"
              href="https://www.facebook.com/guii.arantes/"
              ><img src="../assets/imagens/facebook.png"
            /></a>
            <a
              class="linkedin"
              target="_blank"
              href="https://www.linkedin.com/in/guilhermearantes17"
              ><img src="../assets/imagens/linkedin.png"
            /></a>
            <a
              class="github"
              target="_blank"
              href="https://github.com/guiiarantes1"
              ><img src="../assets/imagens/github.png"
            /></a>
          </div>
        </div>

        <div class="contatos-image">
          <img src="../assets/imagens/contact.svg" />
        </div>
        <div class="logo">
          <p>Desenvolvido por Guilherme Arantes ®2023</p>
        </div>
      </div>
    </div>
  </div>
</div>
