<div class="main">
  <div class="header">
    <div class="nome">
      <p>Guilherme Arantes</p>
    </div>
    <div class="menu">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Mim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projetos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="body">
    <div class="home">
      <div class="home-content">
        <h5>Olá!</h5>
        <h1>Guilherme Arantes</h1>
        <h3>Front-End Developer</h3>
        <p>Sou desenvolvedor front-end, possuo experiência em HTML,
          CSS, JavaScript e Angular, estou sempre buscando desafios para
          aplicar minhas habilidades e conhecimentos</p>

          <div class="home-social">
            <a class="instagram" target="_blank" href="https://instagram.com/guii_arantes?igshid=MzMyNGUyNmU2YQ=="><img src="../assets/imagens/instagram.png"></a>
            <a class="facebook" target="_blank" href="https://www.facebook.com/guii.arantes/"><img src="../assets/imagens/facebook.png"></a>
            <a class="linkedin" target="_blank" href="https://www.linkedin.com/in/guilhermearantes17"><img src="../assets/imagens/linkedin.png"></a>
            <a class="github" target="_blank" href="https://github.com/guiiarantes1"><img src="../assets/imagens/github.png"></a>
          </div>

        <div class="buttons">
          <a><button type="button" class="btn btn-primary">Contate-me <i class="ph ph-paper-plane-right"></i></button></a>
          <a><button type="button" class="btn btn-primary">Meu Currículo <i class="ph ph-download-simple"></i></button></a>
        </div>
      </div>
      <div class="home-image">
        <img src="../assets/imagens/home.png">
      </div>

    </div>
    <div class="sobre">
      <div class="sobre-img">
        <img src="../assets/imagens/sobre.png">
      </div>
      <div class="sobre-content">
        <h1>Sobre Mim</h1>
        <p>Atualmente graduando em Engenharia de Software em Uberlândia-MG.</p>
        <p>Sou apaixonado por idealizar, conceituar e produzir produtos centrados no cliente...</p>

        <div class="stacks">
          <img src="../assets/imagens/html-5.png">
          <img src="../assets/imagens/css-3.png">
          <img src="../assets/imagens/js.png">
          <img src="../assets/imagens/angular.png">
          <img src="../assets/imagens/database.png">
        </div>
      </div>

    </div>
    <div class="projetos">
      <h3>Meus Projetos</h3>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/imagens/kohala.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Kohala Filmes & Séries</h5>
          <p class="card-text">Um site de informações de filmes, séries e atores.</p>
          <a target="_blank" href="https://kohalafilmes-omega.vercel.app/" class="btn btn-primary">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/imagens/solidy.png" alt="Imagem de capa do card" >
        <div class="card-body">
          <h5 class="card-title">Solidy Control</h5>
          <p class="card-text">Uma página web mobile, para controle de pagamentos e vendas de clientes.</p>
          <a target="_blank" href="https://solidy.vercel.app/home" class="btn btn-primary">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/imagens/infotec.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Infotec Celulares</h5>
          <p class="card-text">Uma Landing Page de uma assistência técnica de celulares.</p>
          <a target="_blank" href="https://infotecelulares.vercel.app/" class="btn btn-primary">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../assets/imagens/pokedex.png" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Kanto Pokedex</h5>
          <p class="card-text">Uma site contendo informações de pokemons.</p>
          <a target="_blank" href="https://kantopokedex.vercel.app/home" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
  </div>
</div>
